extends layout

block css
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css')
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css')
  block title
    |jQuery e Select2
block body
  body
    h2 Exemplo jQuery e Select2
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')
    script(src='https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js')
    script(src='https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/i18n/pt-BR.js')
    script(src='https://unpkg.com/imask')
    