    /* Section 1
	 * --------------------------------------- */
    #section1{
        background-image: url(wall.jpg);
        background-size: cover;

    }
    #section1 h1 {
        color: #444;
    }

    #section1 p {
        color: #333;
        color: rgba(0, 0, 0, 0.3);
    }

    #section1 img {
        margin: 20px 0;
        opacity: 0.7;
    }

    /* Section 2
	 * --------------------------------------- */
     #section2{
        background-image: url(wall2.jpeg);
        background-size: cover;

    }
     #section2 h1,
    #section2 p {
        color: black;
        z-index: 3;
    }

    #section2 p {
        
        opacity: 0.8;
    }
    
    .txt-left{
        width: 50%;
        margin: 0 15px;
    }


    /* Section 3
	 * --------------------------------------- */
    #section3 #colors {
        left: 60px;
        bottom: 0;
    }
    #section3{
        background-image: url(wall4.jpeg);
        background-size: cover;

    }
    #section3 p {
        color: #757575;
    }

    #colors2,
    #colors3 {
        position: absolute;
        height: 163px;
        width: 362px;
        z-index: 1;
        background-repeat: no-repeat;
        left: 0;
        margin: 0 auto;
        right: 0;
    }

    #colors2 {
        background-image: url(imgs/colors2.gif);
        top: 0;
    }

    #colors3 {
        background-image: url(imgs/colors3.gif);
        bottom: 0;
    }

    /* Section 4
	 * --------------------------------------- */
    #section4 p {
        opacity: 0.6;
    }
    #section4{
        background-image: url(wall3.jpeg);
        background-size: cover;

    }
    #section4 h1 {
        color: #444;
    }

    #section4 p {
        color: rgb(14, 14, 14);
        color: rgba(0, 0, 0, 0.3);
    }

    /* Overwriting fullPage.js tooltip color
	* --------------------------------------- */
    #pp-nav.custom .pp-tooltip {
        color: #AAA;
    }

    #markup {
        display: block;
        width: 450px;
        margin: 20px auto;
        text-align: left;
    }

    #myVideo {
        position: absolute;
        z-index: 4;
        right: 0;
        bottom: 0;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-color: black;
        /* in case the video doesn't fit the whole page*/
        /* background-image: ; */
        background-position: center center;
        background-size: contain;
        object-fit: cover;
        /*cover video background */
    }

    /* Layer with position absolute in order to have it over the video
		* --------------------------------------- */
    #section3 .layer {
        position: absolute;
        z-index: 5;
        width: 100%;
        left: 0;
        top: 43%;
        height: 100%;
    }

    #section3 h1 {
        color: #fff;
    }

    iframe {
        width: 50%;
        height: 40%;
    }